.fondo {
  height: 100%;
  width: 100%;
}

.div {
  display: flex;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 60rem;
  height: 35rem;
  justify-content: center;
  border-radius: 1rem;
  filter: drop-shadow(0px 8px 8px black);
  font-family: "fuenteCountry";
}
/* .home {
  position: absolute;
  filter: drop-shadow(1px 10px 5px black) grayscale(20%);
  left:16%;
  top: 2%;
  height: 2.5rem;
}
.home:hover{
  color:aqua
} */
.buttons{
  display: flex;
}

.div2 {
  border-radius: 1rem 0rem 0rem 1rem;
  animation: changeBackground 10s infinite;
  background-size: cover;
  filter: sepia(50%);
  background-position: center;
  background-color: black;
  width: 60%;
  height: 100%;
}
.div2summer {
  /* filter: sepia(50%); */
  border-radius: 1rem 0rem 0rem 1rem;
  animation: changeBackgroundSummer 10s infinite;
  background-size: cover;
  background-position: center;
  background-color: black;
  width: 60%;
  height: 100%;
}
.div2winter {
  /* filter: sepia(50%); */
  border-radius: 1rem 0rem 0rem 1rem;
  animation: changeBackgroundWinter 10s infinite;
  background-size: cover;
  background-position: center;
  background-color: black;
  width: 60%;
  height: 100%;
}
.div2spring {
  /* filter: sepia(50%); */
  border-radius: 1rem 0rem 0rem 1rem;
  animation: changeBackgroundSpring 10s infinite;
  background-size: cover;
  background-position: center;
  background-color: black;
  width: 60%;
  height: 100%;
}
.form {
  width: 40%;
  height: 100%;
  border-radius: 0rem 1rem 1rem 0rem;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  color: cornsilk;
  font-size: xx-large;
  align-items: center;
  justify-content: center;
  /* font-family: "fuenteCountry"; */
}

.input {
  width: 15rem;
  height: 1.5rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-color: transparent;
  text-indent: 1rem;
}

.inputSelect {
  width: 15rem;
  height: 2rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;

  text-indent: 1rem;
}
.buttonMoreCountries{
  position: absolute;
  top:74.5%;
  right: 15%;
  font-size: 90%;
}

.button {
  margin-bottom: 2rem;
  height: 2rem;
  font-size: large;
}

.label {
  color: cornsilk;
  margin: 0.5rem;
  font-size: large;
}

.labelAndInput {
  height: 15%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.1rem;
}

.span {
  display: flex;
  color: white;
  justify-content: center;
  font-size: large;
}

.text {
  position: absolute;
  top:24.5%;
  color: gray;
  font-size: small;
  align-items: center;
  justify-content: center;
}

@keyframes changeBackground {
  0%,
  100% {
    background-image: url("../../img/attun01.webp");
  }
  25% {
    background-image: url("../../img/attun02.webp");
  }
  50% {
    background-image: url("../../img/cañon.webp");
  }
  75% {
    background-image: url("../../img/attun03.webp");
  }
}
@keyframes changeBackgroundSummer {
  0%,
  100% {
    background-image: url("../../img/summer01.webp");
  }
  25% {
    background-image: url("../../img/summe02.webp");
  }
  50% {
    background-image: url("../../img/summer03.webp");
  }
  75% {
    background-image: url("../../img/summer04.webp");
  }
}
@keyframes changeBackgroundWinter {
  0%,
  100% {
    background-image: url("../../img/winter01.webp");
  }
  25% {
    background-image: url("../../img/glaciar.webp");
  }
  50% {
    background-image: url("../../img/rusia.webp");
  }
  75% {
    background-image: url("../../img/winter02.webp");
  }
}
@keyframes changeBackgroundSpring {
  0%,
  100% {
    background-image: url("../../img/china.webp");
  }
  25% {
    background-image: url("../../img/spring01.webp");
  }
  50% {
    background-image: url("../../img/spring02.webp");
  }
  75% {
    background-image: url("../../img/spring03.webp");
  }
}
