.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(10, 10, 10, 0.5); */
  border-radius: 3rem;
}

.containerImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
  border: double gray;
  /*     filter: drop-shadow(10px 10px 10px black); */
  box-shadow: 0px 10px 10px black;
  filter: grayscale(35%);
  margin: 0.5rem;
}
.containerImg:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  max-height: 6rem;
  border-radius: 0%;
  border: none;
  z-index: 1;
  box-shadow: 0px 10px 10px black;
  margin: 0.5rem;
  .name {
    color: black;
    font-family: "coso";
  }
}
.img {
  height: 100%;
}
.containerImg:hover {
  transform: scale(1.2);
  transition: transform 0.4s ease;
  filter: grayscale(0%);
}
.text {
  display: none;
  color: black;
  font-family: "coso";
}
.name {
  display: none;
  color: black;
  font-family: "coso";
}
