.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(10, 10, 10, 0.5); */
  border-radius: 3rem;
}

.containerImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9rem;
  height: 9rem;
  overflow: hidden;
  border-radius: 50%;
  filter: grayscale(35%) drop-shadow(0px 10px 10px black);
  margin: 0.5rem;
}

.containerImg:hover{
  overflow:visible;
  z-index: 1;
}  

.img {
  height: 9.5rem;
}
.img:hover {
  transform: scale(1.25);
  transition: ease 0.5s;
}
.text {
  display: none;
}
.name {
  display: none;
  color: black;
  font-family: "fuenteCountry";
}
