.div {
  position: absolute;
  left: 5%;
  top: 3rem;
  width: 65%;
  height: 9%;
  font-family: "fuenteCountry";
  z-index: 1;
  .buttons {
    width: 100%;
    height: 100%;
    display: flex;
    /* margin-left: 3.5%; */
    /* background-color: dodgerblue; */
    align-items: center;
    justify-content: end;
  }
  .home {
    position: absolute;
    filter: drop-shadow(1px 10px 5px black) grayscale(20%);
    left: 3rem;
    bottom: 0.9rem;
    height: 2.5rem;
  }
  .home:hover {
    transform: scale(1.2);
    transition: transform 0.4s ease;
  }
  .button {
    /* position: relative; */
    width: 13rem;
    height: 2rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    color: white;
    border: transparent;
    font-family: "fuenteCountry";
    bottom: 0.1rem;
  }
}
