/* body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .image {
    flex: 1;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    animation: fadeInOut 12s infinite;
  }
  
  #image1 {
    background-image: url('imagen1.jpg');
  }
  
  #image2 {
    background-image: url('imagen2.jpg');
    animation-delay: 3s;
  }
  
  #image3 {
    background-image: url('imagen3.jpg');
    animation-delay: 6s;
  }
  
  #image4 {
    background-image: url('imagen4.jpg');
    animation-delay: 9s;
  }
  
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
    }
    20%, 80% {
      opacity: 1;
    }
  }
   */
  
  
  
  
  