.App{
  background-color: brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url(https://img.freepik.com/fotos-premium/banderas-nacionales-diferentes-paises-mundo-monton-disperso_113767-1771.jpg?size=626&ext=jpg&ga=GA1.1.908157950.1692313965&semt=ais); */
  /* background-image: url(https://img.freepik.com/fotos-premium/dia-internacional-multilateralismo-diplomacia-paz-muchas-banderas-diferentes-paises-ai-generativo_564312-1249.jpg?size=626&ext=jpg&ga=GA1.1.908157950.1692313965&semt=ais); */
  /* background-image: url(https://img.freepik.com/fotos-premium/collage-pantalla-que-muestra-banderas-internacionales_13339-278237.jpg?size=626&ext=jpg&ga=GA1.2.908157950.1692313965&semt=ais); */
  background-image: url(https://img.freepik.com/fotos-premium/varias-banderas-paises_13339-286829.jpg?size=626&ext=jpg&ga=GA1.2.908157950.1692313965&semt=ais);
  background-size: cover;
  width: 79rem;
  height: 37.7rem;
}
