.div {
  margin-top: 1rem;
  font-family: "fuenteCountry";
}
/* Order */
.order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonFilterOrder {
  background-color: transparent;
  color: white;
  border: transparent;
  font-family: "fuenteCountry";
}
.buttonFilterOrder:hover {
  color: black;
}

/* Filter */
.filter {
  margin-left: 0%;
}

.buttonFilter {
  width: 100%;
  height: 2.3rem;
  margin-top: 1rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: transparent;
  color: black;
  border: transparent;
  font-size: large;
  font-family: "fuenteCountry";
}
.buttonFilter:hover {
  color: white;
}

/* Para Cuando aparecian los paises al tocar el botor del continente  */
/* .filterCountries{
    max-height: 20rem;
    overflow-y: scroll;
    scrollbar-color: red;
} */
