.div {
  margin-top: 1rem;
  /* background-color: rgba(0, 0, 0, 0.8); */
  border-radius: 1rem 1rem 1rem 1rem;
  font-family: "fuenteCountry";
  font-size: large;
  color: cornsilk;
  height: 30rem;
  min-height: 30rem;
  width: 15rem;
}
/* .titulo {
  color: rgb(10, 10, 10);
} */

.order {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items:start;
  .buttonOrder{
    width: fit-content;
    height: 2rem;
    font-size: large;
  }
}

.filter {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  .buttonFilter {
    width: fit-content;
    height: 2rem;
    font-size: large;
  }
}


